<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540317341752-n98vifbj7aelqoc2smt6847et28k4hso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540317341752-n98vifbj7aelqoc2smt6847et28k4hso</string>
	<key>API_KEY</key>
	<string>AIzaSyBc7o-v-LJTwKvAV1QI7PkEdWu2buElvcI</string>
	<key>GCM_SENDER_ID</key>
	<string>540317341752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>das.-x3ConnectAssignment</string>
	<key>PROJECT_ID</key>
	<string>x3connectassignment</string>
	<key>STORAGE_BUCKET</key>
	<string>x3connectassignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540317341752:ios:9bf0bdfd5224de00</string>
	<key>DATABASE_URL</key>
	<string>https://x3connectassignment.firebaseio.com</string>
</dict>
</plist>